@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$teal: #00d8b2;
$light-purple: #5458ff;
$off-white: #ffffff;
$white: rgb(177, 219, 255);
$charcoal: #111;
$font-family : 'Roboto', sans-serif;